.home__container {
    flex: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.home__button {
    align-self: center;
    margin: 5%;
}

.home__label {
    align-self: center;
    margin: 5%;
}

.home__zoom-view {
    flex: auto;
}

.home__image {
    flex: auto;
}