.HomePage {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.ListButton {
    align-self: center;
}

.List-Item {
    margin: 5%;
    align-self: center;
}