.home__container {
    flex: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.home__list-item {
    border: 1px solid blue;
    margin: 5%;
}

.home__button {
    align-self: center;
    margin: 5%;
}

.home__label {
    margin: 5%;
    align-self: center;
}