.button__button {
    background-color: #bfbfbf;

    border: 1px solid #696969;
    border-radius: 10px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    transition-duration: 0.15s;
    transition-delay: 0s;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button__button:active {
    opacity: 0.6;
}

.button__text {
    flex: none;
    margin: 0;
}