.button__button {
    background-color: cornflowerblue;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    transition-duration: 0.15s;
    transition-delay: 0s;
}

.button__button:active {
    opacity: 0.6;
}