.nav-bar__nav-bar {
    height: 50px;
    flex: none;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #696969;
}

.nav-bar__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    background-color: transparent;

    transition-delay: 0s;
    transition-duration: 0.15s;
}

.nav-bar__icon:active {
    opacity: 0.6;
}