.zoom-view__zoom-view {
    overflow: scroll;
    touch-action: manipulation;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.zoom-view__zoom-view::-webkit-scrollbar {
    display: none;
}

.zoom-view__container {
    display: flex;
}