.App {
  display: flex;
  
  flex: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  margin: auto;

  background-color: white;

  width: 100%;
  max-width: 75vh;

  height: 100%;
}

.Page {
  flex: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  overflow-y: hidden;
  
  opacity: 1;
  transition: opacity .3s;
}

.FadeOut {
  opacity: 0;
}